fastapi
uvicorn
pydantic[email]
email-validator
python-dotenv
bcrypt
pyjwt
motor
google-auth
google-auth-oauthlib
google-auth-httplib2

python-multipart
pymongo
python-jose[cryptography]
passlib[bcrypt]
cloudinary
razorpay

numpy
textblob
google-genai
httpx
pytz
websockets
aiosmtplib
dnspython
